@font-face {
    font-family: my font;
    src: url(../week13/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: mini font;
    src: url(../week13/BebasNeue-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0, 0, 0, 0.5)50%), url(pb.jpg);
    background-position: center;
    background-size: 1550px;
    height: 1000vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
